@tailwind base;
@tailwind components;
@tailwind utilities;

src/index.css :root {
  --app-font: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--app-font);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  color: #222;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
